/*.navbar-inverse {
    background-color: #404040; border-color: #404040; position: fixed;
}
.navbar-inverse .navbar-header .navbar-brand {
    color: #FFFFAA; font-weight: bold; text-shadow: 1px 1px #0D0D0D; 
}
.navbar-right{
	margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #3c3c3c;
}
 .navbar-inverse .navbar-nav > .active > a{
   color: #FFFFFF; background-color: #2c2c2c !important;
 }
.navbar-inverse .navbar-brand {
    color: #FFFFAA; font-weight: bold; text-shadow: 1px 1px #0D0D0D; 
}*/
.navbar-inverse {
    padding-left: 40px;
    padding-right: 40px;
}
.brandBanner {
    width: 100%;
    background-color: #404040;
    padding: 10px 0px 10px 40px;
}
.brandBanner p {
    color: #cccccc;
}
.twitterSocialLink {
    padding-left: 10px;
}
.facebookSocialLink {
    padding-left: 5px;
}
.brandBanner a {
    text-decoration: none;
}
.brandBanner a:link {
    color: #d9d9d9;
}
.brandBanner a:visited {
    color: #d9d9d9;
}
.brandBanner a:hover {
    color: #f2f2f2;
    text-decoration: none;
}
.brandBanner a:active {
    color: #ffffff;
}
.featuredGames {
    padding: 0px 20px;

}
.card {
    margin: 20px 0px 0px 20px;
    width: 255px;
    display: inline-block;
    border: 0px;
    text-align: left;

}
.card .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
}
.supportedPlatformsPopover {
    margin-bottom: 10px;
}
.card a:link {
    color: #4d4d4d;
}
.card a:visited {
    color: #4d4d4d;
}
.card a:hover {
    color: #333333;
    text-decoration: none;
}
.card a:active {
    color: #000000;
}
.card .card-img-top {
    border: 0px;
}
.homeInfo {
    padding: 20px 0px;
}
.row {
    width: 100%;
}
.homeInfo a:link {
    color: #808080;
}
.homeInfo a:visited {
    color: #808080;
}
.homeInfo a:hover {
    color: #4d4d4d;
    text-decoration: none;
}
.homeInfo a:active {
    color: #000000;
}
.gamesSidebar {

}
.dropdown-menu {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    width: 100%;    
    position: relative;
}
.dropdown-item {
    color: #666666;
}
.dropdown-item:hover {
    color: #404040;
}
.dropdown-item:active {
    background-color: #cccccc;
    color: #333333;
}
.gamesSidebar .btn-secondary {
    width: 100%;
    border-radius: 0px;
    border: 0px;
    text-align: left;
    padding-left: 40px;
    color: #404040;
}
.gamesSidebar .btn-secondary .dropdown-toggle {
    color: red;
}
.gamesSidebar a {
    padding-left: 60px;
}
.gamesFilterBar {
    padding: 0px 20px 0px 40px; background-color: #ffffff;
}
.gamesFilterBar .btn-secondary:link {
    color: #666666;
    border: 1px solid rgba(0,0,0,.10);
}
.gamesFilterBar .btn-secondary {
    margin-top: 10px;
}
.gamesFilterBar .btn-secondary:visited {
    color: #666666;
    border: 1px solid rgba(0,0,0,.10);
}
.gamesFilterBar .btn-secondary:hover {
    color: #404040;
    background-color: #f8f8f8;
    border: 1px solid rgba(0,0,0,.20);
    text-decoration: none;
}
.gamesFilterBar .btn-secondary:active {
    color: #404040;
    background-color: #e6e6e6;
    border: 1px solid rgba(0,0,0,.20);
    text-decoration: none;
}
.gameSearchbar {
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #666666;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.10);;
    vertical-align: middle;
    width: 400px;
    margin-top: 10px;
}

.gameSearchbar:focus, .gameSearchbar:active {
    outline: none !important;
    border: 1px solid rgba(0,0,0,.20);;
}
.form-group {
    margin: 20px 0px 0px 0px;
    width: 100%;
    line-height: 38px;	
}
.form-group * {
    vertical-align: top;
}
.form-control {
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #666666;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.10);;
    width: 400px;
}

.form-control:focus, .form-control:active {
    outline: none !imp	ortant;
    border: 1px solid rgba(0,0,0,.20);;
}
.lowerFilterBar {
    margin: 0px 0;
}
.browsedGames {
    padding: 0px 40px;	
}
.uploadingFields {
    width: 65%;
}
.uploadingAdditionalInfo {
    width: 35%;
    margin: 10px 0px 0px 0px;
}
.loginForm {
    margin: 0px auto;
    padding-top: 20px;
}
.footer {
    width: 100%; text-align: center; padding-bottom: 20px;
}
.footer a {
    padding: 0 12px;
}
hr {
    margin: 20px 0 20px 0;
}
footer a:link {
    color: #808080;
}
footer a:visited {
    color: #808080;
}
footer a:hover {
    color: #4d4d4d;
    text-decoration: none;
}
footer a:active {
    color: #000000;
}
.gameFilterTitle {
    padding: 3px; text-align: center;
}
body { 

    padding-top: 40px; 
}	
p {
    margin: 0px;
}
a {
text-decoration: none;
}

.gamebanner {
    height: 280px;
    background-color: #666666;

}
.gamename {
    background-color: #FFFFFF;
    margin-left: 40px;
    margin-top: 220px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    height: 60px;
}
.gamedeveloperprofile {
    padding: 0px 20px 0px 0px;	
}
.gamedeveloperprofileinfo {
    margin-right: 10px;
    margin-bottom: 0px;
    text-align: right;
    height: 80px;
    padding: 0px;
}
.gamedeveloperprofilepic {
    float: right;
    width: 80px;
    height: 80px;
    background-color: #666666;
}
.gamedeveloperfollowbutton {
   margin-right: 10px;
}
.gamevideo {
    margin-top: 20px;
}
.gamepicture {
    float: right;	
    margin-top: 20px;
    margin-right: 20px;
    width: 320px;
    height: 180px;
    background-color: #666666;
    max-width: 100%;
    
}
.gamedownloadlinks {
    margin-top: 20px;
    margin-bottom: 20px;
}
.gamedescription {
}
.gamesociallinks {
    margin-top: 10px;
}

.downloadButton {
    margin-bottom: 20px;
    margin-top: 10px;
}
.supportedPlatforms {
    width: 100%;
}
.gameAdditionalInfo {
    background-color: #f2f2f2;
    margin-top: 20px;
}
.gameAdditionalInfo p {
    padding: 2px 0px 2px 5px;
}
.gamedeveloperprofilename:link {
    color: #808080;
}
.gamedeveloperprofilename:visited {
    color: #808080;
}
.gamedeveloperprofilename:hover {
    color: #4d4d4d;
    text-decoration: none;
}
.gamedeveloperprofilename:active {
    color: #000000;
}
.editGameButton {
    position: fixed;
    right: 0px;
    top: 100px;
    z-index: 1;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.gameFileName {
    margin: 0px;
}
.gameDashboard {
    margin: 30px 0px 0px 0px;
    width: 100%;

}
.gameDashboard .btn-secondary {
    float: left;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-radius: 0px;	
}
#ex1Slider .slider-selection {
    background: #BABABA;
}
#ex1Slider {
    margin-bottom: 10px;
}
.tooltip-main {
    opacity: 0.5;
}
.modal-body {
    text-align: center;
}
.in {
    opacity: 0.8;
}
.analyticsChart {
    float: left;
    width: 256px;
    height: 144px;
    background-color: #666666;
    margin: 20px 0px 0px 20px;
}
.dashboardGameButtons {
    margin: 20px 0px 0px 0px;	
}
.averageRating {
    float: left;
    margin: 20px 0px 0px 10px;
}
.viewsDownloadsRatio {
    margin: 20px 0px 0px 10px;
}
.additionalInfoRatios {
    float: left;
    margin: 20px 0px 0px 10px;
}
.profilePublic {
	padding: 20px 0px 0px 20px
}
.profilePicture {
    width: 180px;
	height: 180px;
	background-color: #666666;
	display: inline-block;	
}
.profileJoinDate {
    margin: 10px 0px 0px 0px;
}
.profileGames {
    text-align: center;
}
.profileGamesTitle {
    margin: 15px 0px 0px 0px;
}
.reportDiv {
    margin-top: 10px;
}
.reportLink {

}
.reportLink:link {
    color: #808080;
}
.reportLink:visited {
    color: #808080;
}
.reportLink:hover {
    color: #4d4d4d;
    text-decoration: none;
}
.reportLink:active {
    color: #000000;
}

.communityDiscussion {
    margin-top: 10px;
}
.communityDiscussion a:link {
    color: #808080;
}
.communityDiscussion a:visited {
    color: #808080;
}
.communityDiscussion a:hover {
    color: #4d4d4d;
    text-decoration: none;
}
.communityDiscussion a:active {
    color: #000000;
}

.comment {
    width: 100%;
	float: left;
	margin: 20px 0px 0px 0px;
	font-size: 0.9rem;
}
.commentReply {
    width: 100%;
	float: left;
	margin: 20px 0px 0px 20px;
}
.commentContent {	
}
.profilePictureComment {
    width: 30px;
	height: 30px;
	background-color: #666666;
	float: left;
}
.commentRating {
    width: 30px;
	height: 60px;
	background-color: #666666;
	float: right;
	margin-right: 10px;
}
.commentUsername {
    float: left;
	margin-left: 5px;
    line-height: 25px;
	font-size: 0.8rem;
}

.replyLink:link {
    color: #808080;
}
.replyLink:visited {
    color: #808080;
}
.replyLink:hover {
    color: #4d4d4d;
    text-decoration: none;
}
.replyLink:active {
    color: #000000;
}
.commentImage {
	height: 128px;
	width: 256px;
	background-color: #666666;
	margin-top: 10px;
}
.settingsContainer {

}
.settingsTabs {
    padding-left: 40px;
	margin-top: 20px;
}
.settingsTabContent {
    margin-left: 40px;
}
.settingsContainer {
    margin-top: 10px;
}
.settingsContainer a:link {
    color: #808080;
}
.settingsContainer a:visited {
    color: #808080;
}
.settingsContainer a:hover {
    color: #4d4d4d;
    text-decoration: none;
}
.settingsContainer a:active {
    color: #000000;
}