<!DOCTYPE html>
<html>
    
<head lang = "en">
    <title>Get the latest Unity games - cheesegames.net</title>
    
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name = "description" content = "Play and share the latest Unity games"</meta>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <link rel='stylesheet' href='/css/style.css' />
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
    <link rel = "icon" type = "img/gif" href="img/icon.gif">
</head>
    
<body>
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md fixed-top">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style = "outline-color: #f2f2f2;">
<span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="">CHEESEGAMES6</a>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="">Featured</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Browse	</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Upload</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">About</a>
</li>
</ul>
<form class="form-inline my-2 my-lg-0">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="">Login</a>
</li>
<li class="nav-item">
<a class="nav-link" href="">Register</a>
</li>
</form>
</div> 
</nav>
        
<div class="brandBanner">
<p>The social platform to play and distribute indie games for free. <b><a href = "">Learn more</a></b><a href = "" class = "twitterSocialLink">Twitter</a>
</p>
</div>
<div class = "row">
<div class = "featuredGames col-xs-12 col-sm-9">
<?php for ($x = 0; $x < 6; $x++) { ?>
<div class = "card"
id="popover<?php echo $x?>" data-trigger="hover" data-html="true"
data-content="<p class = 'supportedPlatformsPopover'><b>Windows MacOS Linux</b><br/></p><p>Game Placeholder Long Description lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor erat id risus iaculis, in interdum nisl sollicitudin. Sed pellentesque pellentesque metus, quis malesuada eros volutpat vel.</p><div class = 'gameImagePopover' style = 'width: 240; height: 135px; background-color: #666666; margin-top: 10px;'></div>" 
data-container = "body" title="Game Placeholder Title">
<a href = ""><img class = "card-img-top" src = "" alt = "" width = "255px" height="202px" style = ""></img></a>
<a href = ""><p class = "card-title" style = "margin: 0px;">Game Placeholder Title</p></a>
<p class = "card-text"><small>Game Placeholder Short Description</small></p>
<script>
$('#popover<?php echo $x?>').popover({
	trigger: "hover"
});
</script>
</div>
<?php } ?>
</div>
<div class = "homeInfo col-xs-12 col-sm-3">
<h5>Don't see anything you like?</h5>
<a href = "" class = "btn btn-md btn-secondary">Browse Games</a>
<h5 style = "margin-top: 20px;">Blog / Announcements</h5>
<a href = ""><p>Placeholder Blog Entry</p></a>
<a href = ""><p>Placeholder Blog Entry</p></a>
<a href = ""><p>Placeholder Blog Entry</p></a>
<a href = ""><p>Placeholder Blog Entry</p></a>
<a href = ""><p>Placeholder Blog Entry</p></a>
<h5 style = "margin-top: 20px;">Want your game featured?</h5>
<a href = ""><p><b>Learn about games featuring</b></p></a>
</div>
</div>
<footer class = "footer">
    <hr>
    
    <div class = "upperFooter">
    <a href = ""><img src = "img/twitter.png" alt = " Twitter"></img></a>
    <a href = "">About</a>
    <a href = "">Docs</a>
    <a href = "">Contact Me</a>   
    
    </div>
    <div class = "lowerFooter">
    <p>Copyright © cheesegames.net<a href="" style = "margin-left: 15px;">Privacy Policy</a><a href="">Terms of Service</p></a>
    </div>
        
</footer>
                                                                                                      
</body>
<script src="/reload/reload.js"></script>    
</html>